@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow: hidden;
   background-image: url('../assets/1.jpg');

    background-size: cover;
}
section
{
    /* centering the items  */
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
}
.con
{
    
    position: relative;
    width: 350px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    
}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    
}
.form h1
{
    /* Log in heading  */
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    
}
.form h1::before
{
    border-bottom: #666;
    /* underlining  */
    content: '';
    position: absolute;
    left: 25%;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #fff;
    justify-content: center;
    display: flex;

}
.form .inputBox
{
    /* input boxes  */
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    
}
.form .inputBox input
{
    /* the inputs  */
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder
{
    /* placeholder */
    color: #fff;

}

.form .inputBox input[type="submit"]
{
    /* the submit button  */
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    
}
/* Sign */
.forget
{
    margin-top: 5px;
    color: #fff;
    justify-content: center;
    display: flex;
}
.forget a
{
    /* register  */
    color: #fff;
    margin-left:2% ;
    font-weight: 600;
    
}